# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
env/
ENV/
.venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static/images
/static/js/jquery-3.7.1.min.js
/utils

# IDE
.idea/
.vscode/
*.swp
*.swo
*~



# База данных (ВАЖНО!)
dialect.db
todo.txt
